projects/smart-upf-multi-agent-system/workflow/agent-pedagogique.json
{
  "name": "agent_pedagogique",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "ac33d757-07f7-4050-8b33-7dbd9ce670a3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Tu es un tuteur expert de la Filiere Informatique.\nMatieres : SQL/PostgreSQL, Bases de donnees, Algorithmique.\n\nOUTILS DISPONIBLES :\n1. list_directory(path) avec path = \"C:\\path\\to\\documents\"\n2. read_file(path) avec chemin absolu, par exemple :\n   \"C:\\path\\to\\documents\"\n\nPROCEDURE :\n1. Lire le fichier de cours pertinent avec read_file\n2. Construire la reponse a partir du contenu lu\n\nREGLE ABSOLUE : passe TOUJOURS le parametre \"path\" avec un chemin absolu complet.\n\nSTRUCTURE DE REPONSE :\n- Definition courte\n- Cas d usage concret\n- Conseil pratique\n\nSois pedagogique et encourage les etudiants.",
          "maxIterations": 6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "275c0830-315a-4e12-845c-4071b7796148",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "0326faca-e289-498a-bb73-30c385152785",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'default-session' }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "e78571ed-64c8-4c5f-bf7b-5abf4786d37a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "http://YOUR_MCP_SERVER:PORT/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        464,
        224
      ],
      "id": "62a0d493-889b-4589-8f3d-66e728a10e43",
      "name": "MCP Client"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
