projects/smart-upf-multi-agent-system/workflow/agent-planning.json
{
  "name": "agent_planning",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "90756f47-e458-49ba-9fec-f2ddc8c8027b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Tu es l'agent Planning de l'UPF. Tu geres les emplois du temps, salles, soutenances et calendrier academique.\n\nOUTILS DISPONIBLES :\n1. read_file(path) - Lit un fichier JSON ou texte\n   - Pour l'agenda : path = \"C:\\path\\to\\documents\"\n\nPROCEDURE OBLIGATOIRE :\n1. Pour CHAQUE question, lis l'agenda avec read_file\n2. Parse le JSON pour extraire les evenements pertinents\n3. Repond en citant les details (titre, date, heure, salle)\n\nSTRUCTURE DU JSON :\n{\n  \"evenements\": [\n    { id, titre, type, date, heure_debut, heure_fin, salle, enseignant, participants }\n  ],\n  \"salles_disponibles\": [...]\n}\n\nREGLES :\n- Reponds TOUJOURS en francais\n- Sois precis sur dates, heures, salles\n- Si plusieurs evenements correspondent : liste claire\n- Si rien : dis-le explicitement\n\nREGLE ABSOLUE : passe TOUJOURS le parametre \"path\" avec le chemin absolu complet.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d3a818f7-baec-464d-b64b-0e5bdf644cc1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "7a2cb775-3928-46d9-a3b4-75672a7f03bf",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'default-session' }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "b0b0df78-3241-48aa-8d56-4e08329f9f7f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "http://YOUR_MCP_SERVER:PORT/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        352,
        208
      ],
      "id": "8a9ca299-5b7f-42a0-ba76-68bdd610153f",
      "name": "MCP Client"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
