projects/smart-upf-multi-agent-assistant/workflow/pedagogical-agent-workflow.json
{
  "name": "agent_pedagogique",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message || $json.user_message || $json.chatInput }}",
        "options": {
          "systemMessage": "Tu es l'agent pédagogique de la filière Informatique de l'UPF.\n\nDOMAINES\n- SQL et PostgreSQL\n- Bases de données\n- Algorithmique\n- React Native\n- Exercices et explications de code\n\nOUTILS AUTORISÉS\n\n1. list_directory\nAppel exact :\n{\"path\":\"C:/Users/yahya/Desktop/UPF/smartupf/docs/cours\"}\n\n2. read_text_file\nExemple exact :\n{\"path\":\"C:/Users/yahya/Desktop/UPF/smartupf/docs/cours/sql-jointures.md\"}\n\nPour chaque outil, le seul paramètre autorisé est \"path\".\nN'ajoute jamais \"tool\", \"id\", \"name\", \"head\" ou un autre paramètre.\n\nPROCÉDURE\n1. Identifie le sujet demandé.\n2. Liste le dossier uniquement si le fichier pertinent n'est pas connu.\n3. Lis le fichier de cours pertinent avec read_text_file.\n4. Construis la réponse à partir du fichier.\n5. Si aucun fichier ne couvre le sujet, précise-le sans inventer de contenu UPF.\n\nSTRUCTURE DE RÉPONSE\n- Définition courte\n- Explication\n- Exemple concret\n- Conseil pratique\n\nRéponds toujours en français, clairement et pédagogiquement.\nSi tu génères un exercice, base-le sur les notions présentes dans le fichier lu.\nNe mentionne jamais PFE, étudiants UPF, notes ou tables non présentes dans le cours sauf si l'utilisateur le demande explicitement.",
          "maxIterations": 6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'default-session' }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:3002/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        464,
        224
      ],
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": "qwen2.5:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "name": "Ollama Chat Model"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "xqCorjwT6LtpA4B5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
