projects/smart-upf-multi-agent-assistant/workflow/supervisor-agent-workflow.json
{
  "name": "agent_supervisor",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agentResponse }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a strict quality evaluator for UPF university AI assistant.\nEvaluate the response and return ONLY valid JSON, nothing else:\n\n{\n  \"approved\": true,\n  \"score\": 0.85,\n  \"issues\": [],\n  \"action\": \"accept\",\n  \"improvedResponse\": null\n}\n\nScoring rules:\n- score 0.0 to 1.0\n- If score >= 0.7 → approved = true, action = \"accept\"\n- If score < 0.7 → approved = false, action = \"rewrite\", fill improvedResponse\n- issues: list any problems found\n- NEVER add text outside the JSON"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || '';\n\nlet parsed;\ntry {\n  const clean = raw.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = {\n    approved: true,\n    score: 0.75,\n    issues: [\"Could not parse supervisor response\"],\n    action: \"accept\",\n    improvedResponse: null\n  };\n}\n\nconst trigger = $('When Executed by Another Workflow').item.json;\n\n// Explicitly log what we're sending to verify order\nconst requestId = String(trigger.requestId || '');\nconst sessionId = String(trigger.sessionId || '');\nconst agentName = String(trigger.selectedAgent || 'unknown');\nconst agentResponse = String(trigger.agentResponse || '');\nconst approved = parsed.approved === true;          // real boolean\nconst score = parseFloat(parsed.score) || 0.0;     // real float\nconst action = String(parsed.action || 'accept');\n\nreturn [{\n  json: {\n    requestId,   // $1\n    sessionId,   // $2\n    agentName,   // $3\n    agentResponse, // $4\n    approved,    // $5 boolean ✅\n    score,       // $6 numeric ✅\n    action,      // $7\n    improvedResponse: parsed.improvedResponse || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        16
      ],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "smartupf_supervisor_evaluations",
          "mode": "list",
          "cachedResultName": "smartupf_supervisor_evaluations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "approved": "={{ $json.approved }}",
            "score": "={{ $json.score }}",
            "request_id": "={{ $json.requestId }}",
            "session_id": "={{ $json.sessionId }}",
            "agent_name": "={{ $json.agentName }}",
            "agent_response": "={{ $json.agentResponse }}",
            "action": "={{ $json.action }}",
            "improved_response": "={{ $json.improvedResponse }}",
            "evaluated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "agent_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "improved_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "evaluated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        16
      ],
      "name": "Insert rows in a table"
    },
    {
      "parameters": {
        "model": "qwen2.5:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "name": "Ollama Model"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "xqCorjwT6LtpA4B5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
