projects/smart-upf-multi-agent-assistant/workflow/utility-error-handler-workflow.json
{
  "name": "utility_error_handler",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nconst workflowName = error.workflow?.name || 'unknown';\nconst nodeName = error.execution?.lastNodeExecuted || 'unknown';\nconst errorMessage = error.execution?.error?.message || 'Unknown error';\nconst errorType = error.execution?.error?.name || 'UnknownError';\nconst requestId = '';\nconst sessionId = '';\n\nconst userMessage = \"Je suis désolé, une erreur technique est survenue. Veuillez réessayer ou contacter support@upf.ac.ma.\";\n\nreturn [{\n  json: {\n    workflowName,\n    nodeName,\n    errorType,\n    errorMessage: errorMessage.substring(0, 500),\n    requestId,\n    sessionId,\n    userMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -96
      ],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "smartupf_errors",
          "mode": "list",
          "cachedResultName": "smartupf_errors"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "={{ $json.workflowName }}",
            "node_name": "={{ $json.nodeName }}",
            "error_type": "={{ $json.errorType }}",
            "error_message": "={{ $json.errorMessage }}",
            "occurred_at": "={{ new Date().toISOString() }}",
            "request_id": "={{ $json.requestId }}",
            "session_id": "={{ $json.sessionId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "node_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "error_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "occurred_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -96
      ],
      "name": "Insert rows in a table"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    output: $('Code in JavaScript').item.json.userMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -96
      ],
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -96
      ],
      "name": "Error Trigger"
    }
  ],
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
