projects/smart-upf-multi-agent-assistant/workflow/web-agent-workflow.json
{
  "name": "agent_web",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        144
      ],
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "function cleanHtml(html = '') {\n  return String(html)\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n    .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&egrave;/g, 'è')\n    .replace(/&agrave;/g, 'à')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&rsquo;/g, \"'\")\n    .replace(/&amp;/g, '&')\n    .replace(/\\r?\\n|\\r/g, ' ')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\nfunction getNodeText(nodeName) {\n  return cleanHtml($(nodeName).first().json.data || '');\n}\n\nfunction cutFrom(text, markers, limit = 2500) {\n  const lower = text.toLowerCase();\n\n  for (const marker of markers) {\n    const index = lower.indexOf(marker.toLowerCase());\n    if (index !== -1) {\n      return text.substring(index, index + limit).trim();\n    }\n  }\n\n  return text.substring(0, limit).trim();\n}\n\nfunction source(title, content) {\n  return `SOURCE: ${title}\\n${content}`.trim();\n}\n\nconst trigger = $('When Executed by Another Workflow').first().json;\n\nconst message = String(\n  trigger.message ||\n  trigger.user_message ||\n  trigger.chatInput ||\n  trigger.query ||\n  ''\n);\n\nconst question = message\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '');\n\nconst licences = cutFrom(getNodeText('HTTP Licences'), ['Licences', 'Banque Finance Assurance'], 3500);\nconst masters = cutFrom(getNodeText('HTTP Masters'), ['Masters', 'Data Science'], 2500);\nconst ingenieur = cutFrom(getNodeText('HTTP Ingenieur'), ['Diplômes d’Ingénieur', 'Génie informatique'], 2500);\nconst encg = cutFrom(getNodeText('HTTP ENCG'), ['Diplômes ENCG', 'Supply Chain Management'], 2000);\nconst conditions = cutFrom(getNodeText('HTTP Conditions'), ['Conditions d’Accès', 'Comment nous rejoindre'], 2500);\nconst procedures = cutFrom(getNodeText('HTTP Procedures'), ['Procédures d’Admission', 'Etape 1'], 2500);\nconst bourses = cutFrom(getNodeText('HTTP Bourses'), ['Bourses de mérite', 'Bourses de Mérite'], 2500);\n\nlet blocks = [];\n\nif (/(formation|formations|filiere|filieres|diplome|diplomes|licence|master|ingenieur|encg)/.test(question)) {\n  blocks = [\n    source('Formations UPF', `\nLicences :\n- Banque, Finance, Assurance\n- Comptabilité, Contrôle, Audit\n- Management et Gestion des Entreprises\n- Marketing et Communication\n- Génie Informatique\n- Génie Civil\n- Génie Industriel\n- Génie Électrique\n- Sciences Infirmières\n- Sciences Paramédicales\n\nMasters :\n- Data Science\n- Big Data\n- Cybersécurité\n- Finance\n- Marketing\n- Management\n- Audit et Contrôle de Gestion\n\nIngénieur d'État :\n- Génie Informatique\n- Génie Civil\n- Génie Industriel\n- Génie Électrique\n\nENCG :\n- Audit et Contrôle de Gestion\n- Finance\n- Marketing et Action Commerciale\n- Supply Chain Management\n\nSource : pages formations du site officiel de l'UPF.\n`.trim())\n  ];\n} else if (/(admission|conditions|acces|candidater|candidature|inscrire|procedure)/.test(question)) {\n  blocks = [\n    source(\"Admissions UPF\", `\nConditions d'accès :\n- Accès en première année : être titulaire du baccalauréat ou d'un diplôme équivalent.\n- Accès parallèle : possible pour les étudiants ayant validé un niveau Bac+1, Bac+2 ou Bac+3 selon la formation demandée.\n- L'admission dépend du dossier, du niveau d'études et de la procédure d'admission de l'UPF.\n\nProcédure d'admission :\n- Préinscription ou candidature.\n- Étude du dossier.\n- Test ou entretien si demandé.\n- Validation de l'admission.\n- Inscription administrative.\n\nSource : pages admissions du site officiel de l'UPF.\n`.trim())\n  ];\n} else if (/(bourse|bourses|merite|credit)/.test(question)) {\n  blocks = [\n    source('Bourses UPF', `\nL'UPF propose :\n- des bourses de mérite ;\n- un accompagnement par crédit-études ;\n- certains services gratuits selon les informations publiées sur le site.\n\nSource : page bourses de mérite du site officiel de l'UPF.\n`.trim()),\n  ];\n} else if (/(frais|scolarite|tarif|tarifs|grille)/.test(question)) {\n  blocks = [\n    source('Grille tarifaire UPF', `\nLa grille tarifaire officielle de l'UPF est disponible en PDF sur le site officiel :\nhttps://upf.ac.ma/images/Grille%20tarifaire%20Global%20de%20l%27Universit%C3%A9%20Priv%C3%A9%20de%20F%C3%A8s-24-25.pdf\n\nLes montants exacts ne sont pas disponibles dans le contenu texte extrait.\nSource : site officiel de l'UPF.\n`.trim()),\n  ];\n} else {\n  blocks = [\n    source('Licences UPF', licences),\n    source('Masters UPF', masters),\n    source(\"Conditions d'accès UPF\", conditions),\n    source('Bourses de mérite UPF', bourses),\n  ];\n}\n\nreturn [{\n  json: {\n    message,\n    siteContent: blocks.join('\\n\\n')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        192
      ],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        -96
      ],
      "name": "HTTP Home"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma/UPF_Presentation.aspx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        144
      ],
      "name": "HTTP Presentation"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma/UPF_reconnaissance.aspx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -96
      ],
      "name": "HTTP Reconnaissance"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma/diplome_licences.aspx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        160
      ],
      "name": "HTTP Licences"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma/diplome_master.aspx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        -96
      ],
      "name": "HTTP Masters"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma/diplomes_Ingenieur.aspx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        192
      ],
      "name": "HTTP Ingenieur"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma/diplomes_encg.aspx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        -80
      ],
      "name": "HTTP ENCG"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma/UPF-conditions-acces.aspx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        192
      ],
      "name": "HTTP Conditions"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma/upf-procedures-admission.aspx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        -64
      ],
      "name": "HTTP Procedures"
    },
    {
      "parameters": {
        "url": "https://www.upf.ac.ma/upf-bourses-merites.aspx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        176
      ],
      "name": "HTTP Bourses"
    },
    {
      "parameters": {
        "url": "https://upf.ac.ma/connexionn%20-%20global.html",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1472,
        -48
      ],
      "name": "HTTP Candidature"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst message = String(\n  input.message ||\n  input.user_message ||\n  input.chatInput ||\n  ''\n);\n\nconst q = message\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '');\n\nlet output = '';\n\nif (/(formation|formations|filiere|filieres|diplome|diplomes|licence|master|ingenieur|encg)/.test(q)) {\n  output = `\nLes formations disponibles à l'Université Privée de Fès incluent :\n\nLicences :\n- Banque, Finance, Assurance\n- Comptabilité, Contrôle, Audit\n- Management et Gestion des Entreprises\n- Marketing et Communication\n- Génie Informatique\n- Génie Civil\n- Génie Industriel\n- Génie Électrique\n- Sciences Infirmières\n- Sciences Paramédicales\n\nMasters :\n- Data Science\n- Big Data\n- Cybersécurité\n- Finance\n- Marketing\n- Management\n- Audit et Contrôle de Gestion\n\nIngénieur d'État :\n- Génie Informatique\n- Génie Civil\n- Génie Industriel\n- Génie Électrique\n\nENCG :\n- Audit et Contrôle de Gestion\n- Finance\n- Marketing et Action Commerciale\n- Supply Chain Management\n\nSource : site officiel de l'UPF.\n`.trim();\n} else if (/(admission|conditions|acces|candidater|candidature|inscrire|procedure)/.test(q)) {\n  output = `\nPour candidater à une formation à l'UPF, la procédure générale est :\n\n- effectuer une candidature ou une préinscription ;\n- faire étudier le dossier par l'université ;\n- passer un test ou un entretien si cela est demandé ;\n- recevoir la validation de l'admission ;\n- finaliser l'inscription administrative.\n\nPour l'accès en première année, le candidat doit être titulaire du baccalauréat ou d'un diplôme équivalent.\nL'accès parallèle peut être possible pour les étudiants ayant validé un niveau Bac+1, Bac+2 ou Bac+3 selon la formation demandée.\n\nSource : site officiel de l'UPF.\n`.trim();\n} else if (/(bourse|bourses|merite|credit)/.test(q)) {\n  output = `\nOui, l'UPF propose des dispositifs d'aide comme :\n- les bourses de mérite ;\n- le crédit-études ;\n- certains services gratuits selon les informations publiées par l'université.\n\nSource : site officiel de l'UPF.\n`.trim();\n} else if (/(frais|scolarite|tarif|tarifs|grille|prix|cout|coût)/.test(q)) {\n  output = `\nLes frais de scolarité sont indiqués dans la grille tarifaire officielle de l'UPF.\n\nLien PDF :\nhttps://upf.ac.ma/images/Grille%20tarifaire%20Global%20de%20l%27Universit%C3%A9%20Priv%C3%A9%20de%20F%C3%A8s-24-25.pdf\n\nLes montants exacts ne sont pas présents dans le contenu texte extrait.\n\nSource : site officiel de l'UPF.\n`.trim();\n} else {\n  output = `\nCette information n'apparaît pas dans le contenu consulté. Consultez www.upf.ac.ma ou contactez info@upf.ac.ma.\n\nSource : site officiel de l'UPF.\n`.trim();\n}\n\nreturn [{\n  json: {\n    output,\n    message,\n    siteContent: input.siteContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -32
      ],
      "name": "Build Web Answer"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Build Web Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Home": {
      "main": [
        [
          {
            "node": "HTTP Presentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Presentation": {
      "main": [
        [
          {
            "node": "HTTP Reconnaissance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Reconnaissance": {
      "main": [
        [
          {
            "node": "HTTP Licences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Licences": {
      "main": [
        [
          {
            "node": "HTTP Masters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Masters": {
      "main": [
        [
          {
            "node": "HTTP Ingenieur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Ingenieur": {
      "main": [
        [
          {
            "node": "HTTP ENCG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP ENCG": {
      "main": [
        [
          {
            "node": "HTTP Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Conditions": {
      "main": [
        [
          {
            "node": "HTTP Procedures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Procedures": {
      "main": [
        [
          {
            "node": "HTTP Bourses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Bourses": {
      "main": [
        [
          {
            "node": "HTTP Candidature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Candidature": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Web Answer": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "xqCorjwT6LtpA4B5",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
