projects/documentation-indexing/workflow/documentation-indexing.json
{
  "name": "Documentation Indexing",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "07a2078d-aecc-4fd4-9d4b-b413b10ab747",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/path/to/documents",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "c81f5d6c-cea9-4373-8bb1-7fb538e3818d",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "9f60fd3e-4be4-4bfe-8baa-ca1f43acf896",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const CHUNK_SIZE = 1000;\nconst OVERLAP = 200;\n\n// Handle different possible field names from Extract node\nconst inputJson = $input.first().json;\nconst text = inputJson.text || \n             inputJson.content || \n             inputJson.data || \n             Object.values(inputJson)[0];\n\nif (!text || text.length === 0) {\n  throw new Error('No text found. Fields available: ' + JSON.stringify(Object.keys(inputJson)));\n}\n\nconst filename = 'faq.txt';\nconst chunks = [];\nlet startIndex = 0;\n\nwhile (startIndex < text.length) {\n  const chunk = text.substring(startIndex, startIndex + CHUNK_SIZE);\n  \n  if (chunk.trim().length > 0) {\n    chunks.push({\n      json: {\n        text: chunk.trim(),\n        source: filename,\n        chunkIndex: chunks.length\n      }\n    });\n  }\n  \n  startIndex += (CHUNK_SIZE - OVERLAP);\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "59b1577f-507a-4f6b-86b1-054894afbb8a",
      "name": "Split into Chunks"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbot-docs",
          "mode": "list",
          "cachedResultName": "chatbot-docs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "d71c7a32-37af-4b1c-9f00-56f180eb806a",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        880,
        208
      ],
      "id": "7608bbd7-ee55-4352-927e-3c3bb853f552",
      "name": "Embeddings Ollama"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        208
      ],
      "id": "208c6126-a9ee-47f4-98bc-11bee22f16b9",
      "name": "Default Data Loader"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split into Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Chunks": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "active": false
}
