projects/chatbot-rag/workflow/chatbot-rag.json
{
  "name": "Chatbot RAG",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Bonjour ! Je suis votre assistant RAG. Comment puis-je vous aider ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "1adbd333-3a92-4344-a2ab-26739f9a4a51",
      "name": "When chat message received"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\n\nconst sessionId = inputData.sessionId || \n                  inputData.chatId || \n                  `session-${Date.now()}`;\n\nreturn [{\n  json: {\n    ...inputData,\n    sessionId: sessionId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "a0764b34-6c92-43dd-ac9a-4c9a5079245d",
      "name": "Session ID"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# IDENTITE\nTu es ShopBot RAG, l'assistant support intelligent de BoutiqueEnLigne.\n\n# INSTRUCTIONS\n1. Utilise TOUJOURS l'outil de recherche pour trouver les informations\n2. Réponds UNIQUEMENT avec les informations trouvées dans la documentation\n3. Si l'information n'est pas dans la documentation, dis clairement :\n   \"Je n'ai pas cette information dans ma documentation\"\n4. Cite toujours la source de tes informations\n5. Sois courtois et professionnel\n6. Termine toujours avec \"Autre chose ?\"\n\n# CONTRAINTES\n- Ne jamais inventer d'informations\n- Ne jamais utiliser tes connaissances générales\n- Rester uniquement dans le domaine de BoutiqueEnLigne"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        0
      ],
      "id": "5c18bb6c-1444-4f9a-9965-5c5eb702516c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "maxTokensToSample": 800,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        208
      ],
      "id": "c7b47eb6-4c0e-4085-83b3-83a5d7872701",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Session ID').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        208
      ],
      "id": "4ea754fc-8c85-42f5-92cc-ea9e5a902cd9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search the FAQ documentation about delivery, returns, orders, products and contact info",
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbot-docs",
          "mode": "list",
          "cachedResultName": "chatbot-docs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1168,
        112
      ],
      "id": "f61dec41-eec7-4771-aa06-45fc328c1185",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1264,
        320
      ],
      "id": "d844a19b-2731-4db2-a984-b73482a1e44e",
      "name": "Embeddings Ollama"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\n// Simply verify the request has a message\nif (!body.chatInput || body.chatInput.trim() === '') {\n  throw new Error('Unauthorized: Empty or missing message');\n}\n\n// Log valid request\nconsole.log('Valid request from session:', body.sessionId);\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "96f76d77-0370-46a3-9d17-b1e407b20728",
      "name": "Auth Check"
    },
    {
      "parameters": {
        "jsCode": "const MAX_REQUESTS = 10; // max per hour\nconst WINDOW_MS = 3600000; // 1 hour in ms\n\nconst body = $input.first().json;\nconst clientId = body.sessionId || body.authToken || 'anonymous';\n\n// Get existing request log\nconst store = $getWorkflowStaticData('global');\nif (!store.rateLimits) store.rateLimits = {};\n\nconst now = Date.now();\nconst userRequests = store.rateLimits[clientId] || [];\n\n// Keep only requests from last hour\nconst recentRequests = userRequests.filter(t => now - t < WINDOW_MS);\n\nif (recentRequests.length >= MAX_REQUESTS) {\n  throw new Error(`Rate limit exceeded: max ${MAX_REQUESTS} requests/hour`);\n}\n\n// Log this request\nrecentRequests.push(now);\nstore.rateLimits[clientId] = recentRequests;\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "2d7ec8b7-2fdc-4345-be61-474c42e4b6b1",
      "name": "Rate Limiter"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session ID": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limiter": {
      "main": [
        [
          {
            "node": "Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "active": false
}
