projects/ai-email-draft-assistant/blueprint/ai-email-draft-assistant.json
{
  "name": "Emails creation",
  "flow": [
    {
      "id": 1,
      "module": "google-email:triggerWatchNewEmails",
      "version": 4,
      "parameters": {
        "from": "",
        "size": {
          "unit": "M",
          "amount": null,
          "criteria": "larger"
        },
        "limit": 1,
        "folder": "INBOX",
        "format": "full",
        "subject": "",
        "criteria": "all",
        "labelIds": "",
        "markSeen": false,
        "filterType": "simpleSearch",
        "excludeWords": "",
        "includeWords": "",
        "hasAttachment": false
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "size": {
              "nested": {
                "unit": {
                  "label": "MB (megabytes)"
                },
                "criteria": {
                  "label": "Greater than"
                }
              }
            },
            "folder": {
              "label": "Inbox"
            },
            "format": {
              "label": "Full content"
            },
            "criteria": {
              "label": "All messages"
            },
            "labelIds": {
              "label": "Empty"
            },
            "filterType": {
              "label": "Simple filter"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google-email",
            "label": "Connection",
            "required": true
          },
          {
            "name": "filterType",
            "type": "select",
            "label": "Filter type",
            "required": true,
            "validate": {
              "enum": [
                "simpleSearch",
                "gmailSearch"
              ]
            }
          },
          {
            "name": "format",
            "type": "select",
            "label": "Content format",
            "required": true,
            "validate": {
              "enum": [
                "full",
                "raw",
                "metadata",
                "minimal"
              ]
            }
          },
          {
            "name": "folder",
            "type": "select",
            "label": "Folder",
            "required": true
          },
          {
            "name": "labelIds",
            "type": "select",
            "label": "Label"
          },
          {
            "name": "criteria",
            "type": "select",
            "label": "Criteria",
            "required": true,
            "validate": {
              "enum": [
                "all",
                "is:read",
                "is:unread"
              ]
            }
          },
          {
            "name": "markSeen",
            "type": "boolean",
            "label": "Mark email message(s) as read when fetched"
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit",
            "required": true,
            "validate": {
              "max": 500
            }
          },
          {
            "name": "from",
            "type": "email",
            "label": "Sender email address"
          },
          {
            "name": "subject",
            "type": "text",
            "label": "Subject"
          },
          {
            "name": "includeWords",
            "type": "text",
            "label": "Has the words"
          },
          {
            "name": "excludeWords",
            "type": "text",
            "label": "Doesn't have"
          },
          {
            "name": "size",
            "spec": [
              {
                "name": "criteria",
                "type": "select",
                "label": "Criteria",
                "validate": {
                  "enum": [
                    "larger",
                    "smaller"
                  ]
                }
              },
              {
                "name": "amount",
                "type": "integer",
                "label": "Size",
                "validate": {
                  "min": 0
                }
              },
              {
                "name": "unit",
                "type": "select",
                "label": "Size unit",
                "validate": {
                  "enum": [
                    "M",
                    "K",
                    "bytes"
                  ]
                }
              }
            ],
            "type": "collection",
            "label": "Email size"
          },
          {
            "name": "hasAttachment",
            "type": "boolean",
            "label": "Only emails with attachments/media",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "Message ID"
          },
          {
            "name": "threadId",
            "type": "text",
            "label": "Thread ID"
          },
          {
            "name": "internalDate",
            "type": "date",
            "label": "Date"
          },
          {
            "name": "subject",
            "type": "text",
            "label": "Subject",
            "condition": true
          },
          {
            "name": "fromName",
            "type": "text",
            "label": "From (name)",
            "condition": true
          },
          {
            "name": "fromEmail",
            "type": "text",
            "label": "From (email)",
            "condition": true
          },
          {
            "name": "to",
            "spec": {
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name"
                },
                {
                  "name": "email",
                  "type": "text",
                  "label": "Email"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "To",
            "condition": true
          },
          {
            "name": "cc",
            "spec": [
              {
                "name": "email",
                "type": "email",
                "label": "Email"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "array",
            "label": "CC",
            "condition": true
          },
          {
            "name": "bcc",
            "spec": [
              {
                "name": "email",
                "type": "email",
                "label": "Email"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "array",
            "label": "BCC",
            "condition": true
          },
          {
            "name": "snippet",
            "type": "text",
            "label": "Snippet"
          },
          {
            "name": "fullTextBody",
            "type": "text",
            "label": "Full text body",
            "condition": true
          },
          {
            "name": "htmlBody",
            "type": "text",
            "label": "HTML body",
            "condition": true
          },
          {
            "name": "hasAttachment",
            "type": "boolean",
            "label": "Has attachment",
            "condition": true
          },
          {
            "name": "hasMedia",
            "type": "boolean",
            "label": "Has media",
            "condition": true
          },
          {
            "name": "sysFolders",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "System folder ID"
              },
              {
                "name": "name",
                "type": "text",
                "label": "System folder name"
              }
            ],
            "type": "array",
            "label": "System folders"
          },
          {
            "name": "categoryFolders",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "Category folder ID"
              },
              {
                "name": "name",
                "type": "text",
                "label": "Category folder name"
              }
            ],
            "type": "array",
            "label": "Category folders"
          },
          {
            "name": "userLabelFolders",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "User label folder ID"
              },
              {
                "name": "name",
                "type": "text",
                "label": "User label folder name"
              }
            ],
            "type": "array",
            "label": "User label folders"
          },
          {
            "name": "labelIds",
            "spec": {
              "type": "text"
            },
            "type": "array",
            "label": "Message folder IDs"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "Delivered-To",
                "type": "text",
                "label": "Delivered-To"
              },
              {
                "name": "Received",
                "type": "text",
                "label": "Received"
              },
              {
                "name": "Date",
                "type": "text",
                "label": "Date (header)"
              },
              {
                "name": "X-Original-Sender",
                "type": "text"
              },
              {
                "name": "Reply-To",
                "type": "text"
              },
              {
                "name": "Subject",
                "type": "text",
                "label": "Subject"
              },
              {
                "name": "From",
                "type": "text",
                "label": "From"
              },
              {
                "name": "To",
                "type": "text",
                "label": "To"
              },
              {
                "name": "Message-ID",
                "type": "text",
                "label": "Message-ID"
              },
              {
                "name": "In-Reply-To",
                "type": "text",
                "label": "In-Reply-To"
              }
            ],
            "type": "collection",
            "label": "Headers",
            "condition": true
          },
          {
            "name": "sizeEstimate",
            "type": "number",
            "label": "Size estimate"
          },
          {
            "name": "historyId",
            "type": "text",
            "label": "History ID"
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "gemini-ai:simpleTextPrompt",
      "version": 1,
      "parameters": {},
      "mapper": {
        "model": "gemini-2.5-flash",
        "textPrompt": "You are a professional email assistant.\r\nWrite a short, polite and professional reply to this email.\r\n\r\n{{1.fromName}}\n{{1.subject}}\n{{1.snippet}}\r\nKeep the reply under 100 words. Start with \"Hi,\" and sign off with \"Best regards\""
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "expect": {
            "model": {
              "label": "Gemini 2.5 FlashApplies smart reasoning to fast data tasks while ensuring quick response times"
            }
          }
        },
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true,
            "validate": {
              "enum": [
                "gemini-3.1-pro-preview",
                "gemini-3-flash-preview",
                "gemini-2.5-pro",
                "gemini-2.5-flash"
              ]
            }
          },
          {
            "name": "textPrompt",
            "type": "text",
            "label": "Text prompt",
            "required": true
          }
        ]
      }
    },
    {
      "id": 7,
      "module": "google-email:createADraft",
      "version": 4,
      "parameters": {},
      "mapper": {
        "to": [
          "{{1.fromEmail}}"
        ],
        "subject": "Re: {{1.subject}}",
        "bodyType": "collection",
        "contents": [
          {
            "text": "{{6.result}}",
            "image": {}
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {
          "expect": {
            "cc": {
              "mode": "chose"
            },
            "to": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "bcc": {
              "mode": "chose"
            },
            "from": {
              "mode": "chose",
              "label": "Empty"
            },
            "folders": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Collection of contents (text, images, etc.)"
            },
            "contents": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "signature": {
              "mode": "chose",
              "label": "Empty"
            },
            "attachments": {
              "mode": "chose"
            },
            "emailHeaders": {
              "mode": "chose"
            }
          },
          "parameters": {}
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google-email",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "From"
          },
          {
            "name": "to",
            "spec": {
              "name": "value",
              "type": "email",
              "label": "Recipient email address",
              "required": true
            },
            "type": "array",
            "label": "To",
            "required": true
          },
          {
            "name": "emailHeaders",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Key",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Email header"
            },
            "type": "array",
            "label": "Additional email headers"
          },
          {
            "name": "subject",
            "type": "text",
            "label": "Subject"
          },
          {
            "name": "bodyType",
            "type": "select",
            "label": "Body type",
            "required": true,
            "validate": {
              "enum": [
                "rawHtml",
                "collection"
              ]
            }
          },
          {
            "name": "attachments",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "filename",
                  "type": "filename",
                  "label": "File name",
                  "required": true,
                  "semantic": "file:name"
                },
                {
                  "name": "data",
                  "type": "buffer",
                  "label": "Data",
                  "required": true,
                  "semantic": "file:data"
                }
              ],
              "type": "collection",
              "label": "Attachment"
            },
            "type": "array",
            "label": "Attachments"
          },
          {
            "name": "cc",
            "spec": {
              "name": "value",
              "type": "email",
              "label": "Recipient email address"
            },
            "type": "array",
            "label": "CC recipients"
          },
          {
            "name": "bcc",
            "spec": {
              "name": "value",
              "type": "email",
              "label": "Recipient email address"
            },
            "type": "array",
            "label": "BCC recipients"
          },
          {
            "name": "threadId",
            "type": "text",
            "label": "Thread ID"
          },
          {
            "name": "folders",
            "type": "select",
            "label": "Folders",
            "multiple": true
          },
          {
            "name": "contents",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "text",
                  "type": "text",
                  "label": "Text"
                },
                {
                  "name": "image",
                  "spec": [
                    {
                      "name": "filename",
                      "type": "filename",
                      "label": "File name",
                      "semantic": "file:name"
                    },
                    {
                      "name": "data",
                      "type": "buffer",
                      "label": "Data",
                      "semantic": "file:data"
                    },
                    {
                      "name": "width",
                      "type": "uinteger",
                      "label": "Width"
                    },
                    {
                      "name": "height",
                      "type": "uinteger",
                      "label": "Height"
                    }
                  ],
                  "type": "collection",
                  "label": "Image"
                }
              ],
              "type": "collection",
              "label": "Content"
            },
            "type": "array",
            "label": "Body contents"
          },
          {
            "name": "signature",
            "type": "select",
            "label": "Signature content"
          }
        ]
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": []
  }
}
